In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/datos_delitos.csv', encoding='ISO-8859-1')
df.head()

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,0.0,2.0,2.0,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
import chardet

def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        rawdata = f.read()
    result = chardet.detect(rawdata)
    return result

file_path = './data/datos_delitos.csv'
encoding_info = detect_encoding(file_path)
print(f"Detected encoding: {encoding_info['encoding']}")

Detected encoding: ISO-8859-1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34496 entries, 0 to 34495
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     34496 non-null  int64
 1   Clave_Ent               34496 non-null  int64
 2   Entidad                 34496 non-null  object
 3   Bien jurídico afectado  34496 non-null  object
 4   Tipo de delito          34496 non-null  object
 5   Subtipo de delito       34496 non-null  object
 6   Modalidad               34496 non-null  object
 7   Enero                   34496 non-null  int64
 8   Febrero                 31360 non-null  float64
 9   Marzo                   31360 non-null  float64
 10  Abril                   31360 non-null  float64
 11  Mayo                    31360 non-null  float64
 12  Junio                   31360 non-null  float64
 13  Julio                   31360 non-null  float64
 14  Agosto                  31360 non-null  float64
 15  Septiembre              31360 non-null  float64
 16  Octubre                 31360 non-null  float64
 17  Noviembre               31360 non-null  float64
 18  Diciembre               31360 non-null  float64
dtypes: float64(11), int64(3), object(5)
memory usage: 5.0+ MB

In [5]:
for col in df.columns:
    print(col)

Año
Clave_Ent
Entidad
Bien jurídico afectado
Tipo de delito
Subtipo de delito
Modalidad
Enero
Febrero
Marzo
Abril
Mayo
Junio
Julio
Agosto
Septiembre
Octubre
Noviembre
Diciembre

In [6]:
def limpiar_columnas(df):
    columnas_limpias = []
    for col in df.columns:
        # convertir a minusculas, reemplazar espacios por guiones bajos y eliminar caracteres especiales
        col = col.lower().replace(" ", "_").replace("ñ", "ni").replace(".", "").replace("á", "a").replace("é", "e").replace("í","i").replace("ó", "o").replace("ú", "u")
        columnas_limpias.append(col)
    
    df.columns = columnas_limpias
    
    return df

In [7]:
df = limpiar_columnas(df)

In [8]:
df.head(3)

,anio,clave_ent,entidad,bien_juridico_afectado,tipo_de_delito,subtipo_de_delito,modalidad,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,0.0,2.0,2.0,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0

In [9]:
df = df[['anio', 'clave_ent', 'entidad', 'tipo_de_delito', 'subtipo_de_delito', 'modalidad','enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']]
df.head(2)

,anio,clave_ent,entidad,tipo_de_delito,subtipo_de_delito,modalidad,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma de fuego,3,0.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,Homicidio,Homicidio doloso,Con arma blanca,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [10]:
print("Shape: ", df.shape)

Shape:  (34496, 18)

In [11]:
datos_long = df.melt(
  id_vars=['anio', 'clave_ent', 'entidad','tipo_de_delito', 'subtipo_de_delito', 'modalidad'],
  var_name='nombre_mes',
  value_name='frecuencia'
)

In [12]:
print("Shape: ", datos_long.shape)

Shape:  (413952, 8)

In [13]:
datos_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413952 entries, 0 to 413951
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   anio               413952 non-null  int64
 1   clave_ent          413952 non-null  int64
 2   entidad            413952 non-null  object
 3   tipo_de_delito     413952 non-null  object
 4   subtipo_de_delito  413952 non-null  object
 5   modalidad          413952 non-null  object
 6   nombre_mes         413952 non-null  object
 7   frecuencia         379456 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 25.3+ MB

In [14]:
datos_long = datos_long.groupby(['anio', 'clave_ent', 'entidad', 'tipo_de_delito', 'nombre_mes'])['frecuencia'].sum().reset_index()
datos_long[datos_long.tipo_de_delito == 'Robo'].sample(15)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia
126633,2023,8,Chihuahua,Robo,noviembre,1271.0
105512,2021,28,Tamaulipas,Robo,mayo,763.0
9508,2015,20,Oaxaca,Robo,febrero,451.0
51266,2018,11,Guanajuato,Robo,diciembre,3718.0
5192,2015,11,Guanajuato,Robo,mayo,2563.0
108384,2022,2,Baja California,Robo,abril,2693.0
1833,2015,4,Campeche,Robo,noviembre,79.0
42147,2017,24,San Luis Potosí,Robo,enero,851.0
168392,2025,31,Yucatán,Robo,mayo,0.0
163586,2025,21,Puebla,Robo,diciembre,0.0
30151,2016,31,Yucatán,Robo,marzo,220.0
151113,2024,27,Tabasco,Robo,noviembre,895.0
55111,2018,19,Nuevo León,Robo,marzo,1332.0
60865,2018,31,Yucatán,Robo,agosto,216.0
135275,2023,26,Sonora,Robo,septiembre,619.0

In [15]:
datos_long[['clave_ent', 'entidad']].drop_duplicates().sort_values('entidad')

       clave_ent                          entidad
0              1                   Aguascalientes
480            2                  Baja California
960            3              Baja California Sur
1440           4                         Campeche
2880           7                          Chiapas
3360           8                        Chihuahua
3840           9                 Ciudad de México
1920           5             Coahuila de Zaragoza
2400           6                           Colima
4320          10                          Durango
4800          11                       Guanajuato
5280          12                         Guerrero
5760          13                          Hidalgo
6240          14                          Jalisco
7200          16              Michoacán de Ocampo
7680          17                          Morelos
6720          15                           México
8160          18                          Nayarit
8640          19                       Nuevo León
9120          20                           Oaxaca
9600          21                           Puebla
10080         22                        Querétaro
10560         23                     Quintana Roo
11040         24                  San Luis Potosí
11520         25                          Sinaloa
12000         26                           Sonora
12480         27                          Tabasco
12960         28                       Tamaulipas
13440         29                         Tlaxcala
13920         30  Veracruz de Ignacio de la Llave
14400         31                          Yucatán
14880         32                        Zacatecas

In [16]:
datos_long[datos_long['clave_ent'] == 19].sample(15)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia
24031,2016,19,Nuevo León,Abuso sexual,marzo,92.0
116622,2022,19,Nuevo León,Violencia de género en todas sus modalidades d...,junio,0.0
24135,2016,19,Nuevo León,Electorales,enero,0.0
24476,2016,19,Nuevo León,Violencia familiar,mayo,1618.0
85909,2020,19,Nuevo León,Violencia familiar,agosto,1709.0
131808,2023,19,Nuevo León,Otros delitos contra el patrimonio,abril,7.0
116355,2022,19,Nuevo León,Feminicidio,enero,5.0
147121,2024,19,Nuevo León,Incesto,agosto,0.0
24177,2016,19,Nuevo León,Falsedad,noviembre,15.0
131937,2023,19,Nuevo León,Trata de personas,noviembre,0.0
116330,2022,19,Nuevo León,Falsedad,diciembre,11.0
147043,2024,19,Nuevo León,Extorsión,marzo,73.0
116413,2022,19,Nuevo León,Incumplimiento de obligaciones de asistencia f...,agosto,62.0
24185,2016,19,Nuevo León,Falsificación,julio,38.0
85547,2020,19,Nuevo León,Daño a la propiedad,septiembre,547.0

In [17]:
datos_long[(datos_long['clave_ent'] == 19) & (datos_long['tipo_de_delito'] == 'Homicidio')]

        anio  clave_ent     entidad tipo_de_delito  nombre_mes  frecuencia
8856    2015         19  Nuevo León      Homicidio       abril        77.0
8857    2015         19  Nuevo León      Homicidio      agosto        82.0
8858    2015         19  Nuevo León      Homicidio   diciembre        96.0
8859    2015         19  Nuevo León      Homicidio       enero        66.0
8860    2015         19  Nuevo León      Homicidio     febrero        67.0
...      ...        ...         ...            ...         ...         ...
162463  2025         19  Nuevo León      Homicidio       marzo         0.0
162464  2025         19  Nuevo León      Homicidio        mayo         0.0
162465  2025         19  Nuevo León      Homicidio   noviembre         0.0
162466  2025         19  Nuevo León      Homicidio     octubre         0.0
162467  2025         19  Nuevo León      Homicidio  septiembre         0.0

[132 rows x 6 columns]

In [18]:
datos_long[
    (datos_long['clave_ent'] == 20) &
    (datos_long['tipo_de_delito'] == 'Homicidio') &
    (datos_long['anio'] == 2024) &
    (datos_long['nombre_mes'] == 'enero') 
]

        anio  clave_ent entidad tipo_de_delito nombre_mes  frecuencia
147579  2024         20  Oaxaca      Homicidio      enero       154.0

In [19]:
# Diccionario de ayuda para convertir
meses = {
    "enero": 1,
    "febrero": 2,
    "marzo": 3,
    "abril": 4,
    "mayo": 5,
    "junio": 6,
    "julio": 7,
    "agosto": 8,
    "septiembre": 9,
    "octubre": 10,
    "noviembre": 11,
    "diciembre": 12
}

datos_long['mes'] = datos_long['nombre_mes'].map(meses)
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,mes
33768,2017,7,Chiapas,Falsedad,abril,6.0,4
12245,2015,26,Sonora,Incesto,julio,0.0,7
151086,2024,27,Tabasco,Otros delitos que atentan contra la vida y la ...,junio,54.0,6
129777,2023,15,México,Falsedad,noviembre,17.0,11
166672,2025,28,Tamaulipas,Delitos cometidos por servidores públicos,febrero,0.0,2

In [20]:
datos_long['fecha'] = pd.to_datetime(
  datos_long['anio'].astype(str) + datos_long['mes'].astype(str),
  format='%Y%m'
)
datos_long.sample(5)

,anio,clave_ent,entidad,tipo_de_delito,nombre_mes,frecuencia,mes,fecha
18999,2016,8,Chihuahua,Narcomenudeo,enero,427.0,1,2016-01-01
139527,2024,3,Baja California Sur,Otros delitos del Fuero Común,enero,81.0,1,2024-01-01
77531,2020,2,Baja California,Incesto,septiembre,0.0,9,2020-09-01
81742,2020,11,Guanajuato,Electorales,octubre,0.0,10,2020-10-01
31385,2017,2,Baja California,Falsificación,julio,39.0,7,2017-07-01

In [23]:
datos_finales = datos_long[
    (datos_long.tipo_de_delito == "Homicidio") &
    (datos_long.clave_ent == 20) &
    (datos_long.fecha >= '2024-01-01')
].sort_values('fecha')

In [24]:
datos_finales.to_csv('data/delitos.csv', index=False)